.Hero {
    padding: 3% 4%;
    background-image: linear-gradient(rgb(242, 166, 53), rgb(255, 120, 215));
    color: rgb(104, 119, 50);
    text-align:justify center;
  }

  .title {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: .3rem;
    color: rgb(140, 149, 102);
    border: none;
    outline: none;
    background-color: rgb(228, 144, 35);
    box-shadow: 3px 3px #a3a1a0;
    transform: translate(-1px, -1px);
  }




.list {
    padding: 0;
    list-style: none;
  }